<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mobilesafe.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity android:name="com.example.mobilesafe.activity.HomeActivity" >
            <intent-filter>
                <action android:name="home.welcome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 设置中心 -->
        <activity android:name="com.example.mobilesafe.activity.SettingActivity" >
        </activity>
        <!-- 手机防盗 -->
        <activity android:name="com.example.mobilesafe.activity.LostFindActivity" >
        </activity>
        <activity android:name="com.example.mobilesafe.activity.Setup1Activity" >
        </activity>
        <activity android:name="com.example.mobilesafe.activity.Setup2Activity" >
        </activity>
        <activity android:name="com.example.mobilesafe.activity.Setup3Activity" >
        </activity>
        <activity android:name="com.example.mobilesafe.activity.Setup4Activity" >
        </activity>
        <!-- 选择联系人 -->
        <activity android:name="com.example.mobilesafe.activity.ContactActivity" >
        </activity>
        <!-- 高级工具 -->
        <activity android:name="com.example.mobilesafe.activity.AtoolsActivity" >
        </activity>
        <!-- 归属地查询 -->

        <activity android:name="com.example.mobilesafe.activity.AddressActivity" >
        </activity>
        <!-- 拖拽事件 -->
        <activity
            android:name="com.example.mobilesafe.activity.DragViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 通信卫士 -->
        <activity
            android:name="com.example.mobilesafe.activity.CallSafeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity android:name="com.example.mobilesafe.activity.CallSafeActivity2" >
        </activity>

        <!-- 软件管理 -->

        <activity android:name="com.example.mobilesafe.activity.AppManagerActivity" >
        </activity>
        <!-- 进程管理 -->

        <activity android:name="com.example.mobilesafe.activity.TaskManagerActivity" >
        </activity>
        <!-- 进程管理设置 -->

        <activity android:name="com.example.mobilesafe.activity.TaskManagerSettingActivity" >
        </activity>
        <!-- 手机杀毒 -->

        <activity android:name="com.example.mobilesafe.activity.AntivirusActivity" >
        </activity>
        <!-- 管理程序锁 -->

        <activity android:name="com.example.mobilesafe.activity.AppLockActivity" >
        </activity>
        <!-- 清理缓存-->

        <activity android:name="com.example.mobilesafe.activity.CleanCacheActivity" >
        </activity>
        <!-- 程序锁 -->
        <activity android:name="com.example.mobilesafe.activity.EnterPwdActivity"
            android:launchMode="singleInstance" >
        </activity>

        <!-- 开机广播 -->
        <receiver android:name="com.example.mobilesafe.receiver.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 接收短信广播 -->
        <receiver android:name="com.example.mobilesafe.receiver.SmsReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 窗口小部件 -->
        <receiver android:name="com.example.mobilesafe.receiver.MyAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
        <!-- 杀死所有进程广播 -->
        <receiver android:name="com.example.mobilesafe.receiver.KillProcessAllReceiver" >
            <intent-filter>
                <action android:name="com.example.mobilesafe" />
            </intent-filter>
        </receiver>

        <!-- 定位服务 -->
        <service android:name="com.example.mobilesafe.service.LocationService" >
        </service>
        <!-- 归属地查询服务 -->
        <service android:name="com.example.mobilesafe.service.AddressService" >
        </service>
        <!-- 黑名单拦截 -->
        <service android:name="com.example.mobilesafe.service.CallSafeService" >
        </service>
        <!-- 定时清理进程 -->
        <service android:name="com.example.mobilesafe.service.KillProcessService" >
        </service>
        <!-- 部件定时清理进程 -->
        <service android:name="com.example.mobilesafe.service.KillProcesWidgetService" >
        </service>
        <!-- 看门狗服务 -->
        <service android:name="com.example.mobilesafe.service.WatchDogService" >
        </service>
    </application>

</manifest>